@font-face {
    font-family: 'tacobox';
    src: url("../assets/fonts/TACOBOX_.TTF") format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         
}  

body {
 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    background-image: url("assets/background.png");
    background-position: center;

}

h1 {

    font-family: 'tacobox';
    font-size: 44px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 10px rgba(255, 255, 255, 0.3);

}

.d-none {
    display: none !important;
}

#canvas {

    background-color: black;
    border-radius:24px;
    display: block;
}

.start-screen {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-width:720px;
    max-height:480px;
    width:720px;
    height:480px;
    background-color: transparent;
    border:none;
}

.end-screen {

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-width:720px;
    max-height:480px;
    width:720px;
    height:480px;

}

.game-description {

    font-family: 'tacobox', sans-serif;
    display: flex;
    align-items: center;
    gap:48px;
    max-width:100%;
    height: auto;
    background-color: transparent;
    border-radius:24px;
    padding:24px;
    font-size:24px;
}

.game-rules,
.game-controls {

    max-width:100%;
    border-radius:24px;
}

.game-rules:hover,
.game-controls:hover {

    background-color: red;;
}



.btn {
    font-family: 'tacobox', sans-serif;
    font-size: 32px;
    padding: 16px 48px;
    border: none;
    border-radius:24px;
    background-color: transparent;
}

.btn:hover, .btn:focus {
    transform: scale(1.05);
    background-color: red;

}



@media only screen and (max-width:720px) {
    canvas {
        width:100%;
    }
}

@media only screen and (max-height:480px) {
    canvas {
        height:100vh;
    }
}




